.setting-card {
    width: 90%;
    max-width: 900px;
    min-width: 320px;

    margin-left: 0;
    margin-right: auto;

    background-color: var(--lumo-base-color);
    border-radius: var(--lumo-border-radius-l);
    box-shadow: var(--lumo-box-shadow-s);

    padding: var(--lumo-space-m);
    margin-bottom: var(--lumo-space-m);

    display: flex;
    flex-direction: column;
    gap: var(--lumo-space-m);
}

.setting-card-header {
    display: flex;
    align-items: center;
}

.setting-card-title {
    font-size: var(--lumo-font-size-l);
    font-weight: 600;
    color: var(--lumo-header-text-color);

    padding-bottom: var(--lumo-space-xs);
    border-bottom: 2px solid var(--lumo-primary-color);

    display: inline-block;
    line-height: 1.2;
}

.setting-card-action-button {
    margin-left: auto;
    padding-bottom: var(--lumo-space-xs);
}

.setting-card-content {
    min-height: 400px;
}