.va-multi-language-field {
    width: 100%;
}

.va-multi-language-field-button {
    margin-top: auto;
    margin-bottom: 0;
    min-width: var(--lumo-size-m);
}

.va-multi-language-field-row {
    gap: var(--lumo-space-m);
    padding: var(--lumo-space-s) 0;
}

.va-multi-language-field-language {
    width: 70px;
    min-width: 70px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}